<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon 'person', height: 22 %>
      </span>
      <%= t('views.assignment_invitations.success.accepted') %>
      <strong><%= current_assignment.title %></strong> <%= t('views.assignment_invitations.success.assigment') %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="markdown-body">
    <h2><%= t('views.assignment_invitations.success.you_are_ready') %></h2>
    <p><%= t('views.assignment_invitations.success.you_may_receive') %> <%= link_to "@#{organization.github_organization.login}", organization.github_organization.html_url %> <%= t('views.assignment_invitations.success.via_email') %></p>
    <p><%= t('views.assignment_invitations.success.assigments_created_here') %> <%= link_to current_submission.github_repository.html_url, current_submission.github_repository.html_url %></p>
  </div>
</div>
